<!DOCTYPE html>
<html>
<head>
    <title>Stocks</title>
</head>
<body>
    <h1>Stocks</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Average Purchase Price</th>
                <th>Current Price</th>
                <th>PNL</th>
                <th>Quantity</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] }}</td>
                    <td>{{ stock[3] }}</td>
                    <td>{{ stock[4] }}</td>
                    <td>{{ stock[5] }}</td>
                    <td>{{ stock[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('manage_stock') }}">Manage Stocks</a>
    <a href="{{ url_for('profile') }}">Go to Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
